{% extends 'base.html.twig' %}

{% block body %}
<div class="col-lg-6">
    {{ form_start(form,{'attr': {'v':'v' ,'class':'form-horizontal style-form' }}) }}
    <div class="form-group">
      <label class="col-sm-2 col-sm-2 control-label">Fichier CSV:</label>
      <div class="col-sm-10">
        {{ form_errors(form.datacsv) }}
         {{ form_widget(form.datacsv,{'attr':{'class':'form-control'}}) }}  </div>
    </div>
<br>
        <button type="submit" class="btn btn-primary">valider</button>
        <button type="reset" class="btn btn-default">annuler</button> 
   
    {{ form_end(form) }}
</div>

{% endblock %}
